html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #333;
	font-size: 16px;
	background: #fff;
	margin: 0;
}

header {
	background: #f3f3f3;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

header h1 {
	width: 800px;
	margin: 0 auto;
	padding: 1em 0;
	font-size: 3em;
	text-align: center;
}

pre,
code,
textarea {
	font-family: Inconsolata, monospace;
}

h2 {
	margin: 1em 0;
}

.header {
	grid-area: header;
}

#container {
	grid-area: container;
}

main.page-wrapper {
	display: grid;
	grid-template-columns: 33% 33% 34%;
	grid-template-areas:
		"header header header"
		"container container container";
}

.dashboard-wrapper {
	display: flex;
}

.overview {
	padding: 0 2em;
}

.overview ul {
	padding: 0;
	margin: 1em 0;
}

.overview li {
	margin: 0 0 .6em;
}

.overview a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	hyphens: auto;
}

tr:nth-child(even) {
	background: #f5f5f5;
}

tr:nth-child(odd) {
	background: #fff;
}

th,
td {
	padding: .25em 0 .1em;
}

th {
	text-align: left;
	padding-right: 1.3em;
}

#domain-list {
	width: 100%;
}

.domains {
	margin: 2em auto 0;
}

.view-head {
	width: 100%;
}

.aggregate-container table {
	width: 100%;
	max-width: 800px;
}

ul.breadcrumb {
	margin-top: 1.5em;
	padding-left: 2rem;
}

.breadcrumb li {
	font-size: 1.1em;
	line-height: 1;
	display: inline-block;
	padding-right: .5em;
}

.breadcrumb li:after {
	content: ">";
	padding-left: .5em;
}

.breadcrumb li:last-child:after {
	content: "";
}

.view-head h1 {
	margin-top: 2rem;
	padding-left: 2rem;
}

.detail-wrapper .overview {
	width: calc(100vw - 2em);
	padding: 0;
	margin-left: 2em;
}

.detail-container {
	margin-top: 3em;
	width: 100%;
}

.result-title h2 {
	padding-left: 2rem;
}

.result {
	margin-bottom: .5em;
}

.selector,
.domain,
.url,
.code {
	color: #0366d6;
	text-decoration: underline;
	cursor: pointer;
}

.result .technique {
	margin-left: .75em;
	font-size: .7em;
	line-height: 1em;
	text-decoration: none;
	background: #fefefe;
	height: 1em;
	width: 1em;
	border-radius: 1em;
	border: 1px solid #ccc;
	text-align: center;
	color: #0366d6;
}

.result .technique:hover {
	color: #0366d6;
}

.code-details-result-wrapper {
	width: 100%;
	background: #f3f3f3;
}

.code-details-result {
	margin: 0 0 1em 2rem;
	padding: 2em 0;
	max-width: 800px;
}

.code-details-message {
	line-height: 1.5;
	max-width: 800px;
}

.code-details-context,
.code-details-message,
.code-details-domain,
.code-details-url,
.code-details-selector code {
	font-size: 1.2em;
}

.code-details-context textarea {
	width: 100%;
	border: 0;
	height: 80px;
	padding: .5em;
	font-size: 1em;
}

@media (max-width: 500px ) {

	header h1 {
		width: 100%;
		font-size: 1.5em;
	}

	table {
		font-size: .7rem;
	}

	td:nth-child(1) {
		max-width: 200px;
	}

	td:nth-child(3) {
		max-width: 75px;
	}

	td:nth-child(5) {
		max-width: 75px;
	}

	th:nth-child(2),
	td:nth-child(2),
	th:nth-child(4),
	td:nth-child(4) {
		display: none;
	}
}
